.menu-hamburguesa {
  display: none;
  justify-content: space-between;
  align-items: center;
  background-color: #222222;
  height: 70px;
}

.contenedor-boton {
  margin-left: 20px;
}

.menu-hamburguesa button {
  font-size: 40px;
  width: 70px;
  height: 60px;
}

.logo-mobile {
  display: flex;
  margin-right: 10px;
}

.logo-mobile .fa-bolt {
  font-size: 40px;
  margin-right: 4px;
  color: white;
}

.logo-mobile h2 {
  color: white;
}

@media (max-width: 576px) {
  .app {
    grid-template-areas: "main main main main";
  }

  .header {
    display: none;
  }

  .menu-hamburguesa {
    display: flex;
  }
}
