.contenedor-producto-detalle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
}

.contenedor-imagen {
  border-bottom: 2px solid black;
  height: 446px;
}

.contenedor-descripcion {
  padding: 20px;
  height: auto;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 10px;
}

.contenedor-descripcion h2 {
  margin-bottom: 10px;
}

.detalles,
.stock,
.boton-comprar {
  margin-bottom: 10px;
}

.boton-comprar .atras {
  margin-right: 50px;
}

@media (max-width: 576px) {
  .contenedor-imagen {
    height: auto;
  }

  .contenedor-imagen img {
    width: 300px;
  }

  .contenedor-descripcion {
    border: none;
  }
}

@media (max-width: 1140px) {
  .contenedor-producto-detalle {
    flex-direction: column;
  }
}
