.contenedor-cart {
  padding: 15px;
}

.contenedor-cart .total {
  text-align: right;
  color: green;
  font-size: 28px;
}

.contenedor-cart h1 {
  text-align: center;
}

.contenedor-items {
  border: 1px solid rgb(0, 119, 255);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 15px;
}

.carrito-vacio {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.carrito-contenido button {
  margin-top: 10px;
  cursor: pointer;
  padding: 10px;
  background-color: rgb(3, 175, 3);
  color: white;
  font-size: 20px;
  border-radius: 15px;
  border: none;
  transition: 0.5s;
}

.carrito-contenido button:hover {
  background-color: rgb(46, 192, 46);
  color: rgba(255, 255, 255, 0.884);
}

.contenedor-limpiar-carrito {
  display: flex;
  justify-content: space-between;
}

.contenedor-limpiar-carrito .boton-seguir-comprando {
  background-color: rgb(0, 119, 255);
}

.contenedor-limpiar-carrito button {
  padding: 10px;
  margin-bottom: 10px;
  color: white;
  background-color: red;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.lista-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  list-style: none;
}

.lista-items img {
  width: 200px;
  height: 200px;
}

.contenedor-caracteristicas {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.lista-items .imagen-nombre,
.contenedor-cantidad {
  display: flex;
  align-items: center;
}

.lista-items button {
  color: white;
  background-color: red;
  border: none;
  border-radius: 5px;
  padding: 10px;
  transition: 0.5s;
}

.lista-items button:hover {
  padding: 13px;
  cursor: pointer;
}

.imagen-nombre .subtotal {
  color: green;
}

.imagen-nombre p {
  color: gray;
}

.imagen-nombre span {
  color: black;
}

.contenedor-cantidad span {
  background-color: rgb(177, 177, 177);
  color: white;
  padding: 10px;
  border-radius: 15px;
  font-size: 25px;
  margin-right: 40px;
}
