*,
*::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  /* background-color: turquoise; */
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading h1 {
  font-size: 50px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.loading {
  -webkit-animation: 3s rotate linear infinite;
  animation: 3s rotate linear infinite;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.loading h1 {
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.container-products-list h1 {
  text-align: center;
  margin-bottom: 20px;
}

.contenedor-card {
  display: flex;
  margin-top: 12px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contenedor-producto {
  border: 3px solid white;
  padding: 10px;
  margin-bottom: 30px;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.nombre-producto,
.precio-producto,
.stock-producto {
  margin-bottom: 5px;
}

.imagen-producto img {
  width: 200px;
  height: 200px;
}

.contenedor-boton-detalle {
  display: flex;
  justify-content: center;
}

button {
  padding: 7px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  background-color: rgb(24, 139, 24);
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  background-color: rgb(21, 168, 21);
  color: rgb(255, 255, 255);
}

/*Estilo para el mensaje de error del formulario de cart*/

.input-error {
  color: red;
}
