*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: grid;
  grid-template-columns: 270px repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header main main main";
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}
